<div class="nav-search">
  <div class="nav-search__scroller">
    <div class="nav-search__container">
      <div class="nav-search__close-container">
        <div class="inner-wrapper">
          <a tabindex="0" class="nav-search__close" aria-expanded="true">{% include 'icon-close' %}</a>
        </div>
      </div>

      <form action="/search" method="get" class="search-form" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="250">
        <div class="nav-search__input-group">
          <input tabindex="0" class="nav-search__input" name="q" type="search" id="search-field" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" />
          <input type="hidden" name="type" value="product" />
          <button tabindex="0" type="submit" class="nav-search__submit">{% include 'icon-search' %}</button>
        </div>
      </form>

      {%- assign popular_links = section.settings.menu_searches_list -%}
      {%- unless popular_links == blank -%}
        <p class="results__popular-title">{{ 'general.search.popular' | t }}</p>
        <ul class="results__popular-links">
          {%- for link in linklists[popular_links].links -%}
            <li><a href="{{ link.url }}" tabindex="0" aria-expanded="false">{{ link.title | escape }}</a></li>
          {%- endfor -%}
        </ul>
      {%- endunless -%}
      
      {%- if section.settings.show_search_links -%}
        <div class="collection-links">
          <p class="collection-links__heading">{{ 'general.search.browse_categories' | t }}</p>
          <ul class="collection-links__list">
            {% for collection in collections %}
              <li class="collection-links__list-item"><a href="{{ collection.url }}">{{ collection.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {%- endif -%}

      <div id="search-results" class="results"></div>

    </div>
  </div>
</div>