{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
  <div class="swatch error">
    <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
    <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>
{% else %}

  {% assign found_option = false %}
  {% assign is_color = false %}
  {% assign option_index = 0 %}

  {% for option in product.options %}
    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign option_index = forloop.index0 %}
      {% assign downcased_option = swatch | downcase %}
      {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
        {% assign is_color = true %}

         <style>
          [data-section-id="{{ section.id }}"] .selector-wrapper[data-option="option{{ option_index | plus: 1 }}"],
          [data-section-id="{{ section.id }}"] label[data-product-id="{{ product.id }}"],
          [data-section-id="{{ section.id }}"] label[for="productSelect--product-template-option-{{ option_index }}"] { display: none; }
          [data-section-id="{{ section.id }}"] #productSelect--product-template-option-{{ option_index }} { display: none !important; }
          [data-section-id="{{ section.id }}"] #productSelect--product-template-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
        </style>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if found_option %}
  <div class="swatch clearfix" data-option-index="{{ option_index }}">
    <div class="header">{{ swatch }}</div>
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %} 
        {% assign values = values | split: ',' %}
        <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
          <input id="product_id-{{ product.id }}-swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="product_id-{{ product.id }}-option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} title="{{ value | escape }}" />
          {% if is_color %}
          <label for="product_id-{{ product.id }}-swatch-{{ option_index }}-{{ value | handle }}">
            <span style="background-color: {{ value | split: ' ' | last | handle }}; /*background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})*/"></span>
          </label>
          {% else %}
          <label for="swatch-{{ option_index }}-{{ value | handle }}" title="{{ value | escape }}">
            {{ value }}
          </label>
          {% endif %}
        </div>
      {% endunless %}
      {% if variant.available %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
      </script>
      {% endif %}
    {% endfor %}
  </div>

  {% endif %}
{% endif %}