<!-- /templates/list-collections-template.liquid -->
{%- assign bg_color = section.settings.bg_color | default: '#fafafa' -%}
{%- assign heading_font_size = section.settings.heading_font_size -%}
<style>
  .site-header,
  .collection-header--no-image { background: {{ bg_color }}; }
</style>

<section data-section-type="list-collections" data-section-id="{{ section.id }}" id="ListCollections">
  
  <!-- Page Header -->
  <header class="collection-header collection-header--no-image wrapper">
    <div class="large--one-whole text-center">
      <h1 class="section-header__title collection-title size--{{ heading_font_size }}">{{ 'collections.general.list_collections' | t }}</h1>
      <span class="spacer-line"></span>
    </div>
  </header>

  <!-- Echo each Collection Title and Image -->
  <div class="collection-list__items grid--full wrapper">
    <div class="js-list-collections__slider list-collections__slider" data-height="{{ section.settings.image_height }}" data-columns="{{ section.settings.columns }}" data-color-style="{{ section.settings.color_style }}" data-text-position="{{ section.settings.text_position }}">
      {% for collection in collections %}
       {% unless collection.handle == 'frontpage' %}
          {% include 'collection-grid-item' %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Collections list",
    "settings": [
      {
        "type": "header",
        "content": "Collections"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#fafafa"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Visible collections",
        "default": 4,
        "min": 1,
        "max": 4,
        "step": 1
      },
      {
        "type": "select",
        "id": "image_height",
        "label": "Image height",
        "default": "400",
        "options": [
          {
            "value": "300",
            "label": "300px"
          },
          {
            "value": "400",
            "label": "400px"
          },
          {
            "value": "500",
            "label": "500px"
          },
          {
            "value": "600",
            "label": "600px"
          },
          {
            "value": "700",
            "label": "700px"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "bottom_left",
        "options": [
          {
            "value": "bottom_left",
            "label": "Bottom left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_style",
        "label": "Color style",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "black",
            "label": "Black"
          }
        ]
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Opacity",
        "min": 0,
        "max": 95,
        "step": 5,
        "unit": "%",
        "default": 30
      },
      {
        "type": "header",
        "content": "Typography"
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "label": "Heading size",
        "unit": "px",
        "step": 4,
        "min": 40,
        "max": 64,
        "default": 48
      }
    ]
  }
{% endschema %}