{%- assign enable_section = section.settings.related_products_enable -%}
{%- assign enable_swatches = settings.color_swatches -%}
{%- assign enable_reviews = settings.enable_reviews -%}
{%- assign product_grid_slideshow = settings.product_grid_slideshow -%}
{%- assign limit = section.settings.limit -%}
{%- assign heading = section.settings.product_recommendations_heading -%}
{%- assign alignment = 'left' -%}
{%- if recommendations.products_count < settings.product_grid_columns -%}
	{%- assign alignment = 'center' -%}
{%- endif -%}

<section
  data-related-products
  data-section-type="related-products"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-limit="{{ limit }}"
  data-swatches="{{ enable_swatches }}"
  data-reviews="{{ enable_reviews }}"
  data-product-grid-slideshow="{{ product_grid_slideshow }}">

	{%- if enable_section -%}
		{%- if recommendations.performed -%}
			{%- if recommendations.products_count > 0 -%}
				<div class="related-products related-products--{{ alignment }} grid--full wrapper text-center">
					{%- if heading != blank -%}
						<h4>{{ heading }}</h4>
					{%- endif -%}

					{%- for product in recommendations.products limit: limit -%}
						{% include 'product-grid-item' %}
					{%- endfor -%}
				</div>
			{%- endif -%}
		{%- else -%}
	    	<div class="related__placeholder"></div>
		{%- endif -%}
	{%- endif -%}

</section>

{% schema %}
{
	"name": "Product recommendations",
	"settings": [
		{
			"type": "checkbox",
			"id": "related_products_enable",
			"label": "Show related products",
			"info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
			"default": true
		},
		{
			"type":    "range",
			"id":      "limit",
			"min":     1,
			"max":     6,
			"step":    1,
			"label":   "Product limit",
			"default": 4
		},
		{
			"type": "text",
			"id": "product_recommendations_heading",
			"label": "Heading",
			"default": "You May Also Like"
		}
	]
}
{% endschema %}
